/* pantone
logo 
#F2E205 amarillo
#D96E11 naranja
#8C3616 cafe
#F20505 rojo
#0D0D0D negro


*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(245, 226, 202);
    color:#0D0D0D;
    font-size: 16px;
    height: auto;
    font-family: arial,sans-serif;
    height: 100%;
}

a {
    color:#D96E11;
    text-decoration: none;
    opacity: 70%;
}

ul {
    list-style: none;
}

.contenedor {
    width: 100%;
    margin: auto;
    background-color: transparent;
}

.nav-main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: .5%;
    background-color: #3a3a3a;
}

.logo {
    width: 8%;
    animation-name: logo;
    opacity: 80%;
    animation-duration: 1.5s;
    position: relative;
    animation-timing-function: ease;
    margin-left: 2%;;
}

.nav-main ul {
    display: flex;
    margin: .5%;
}

.nav-main ul.menu {
    flex: 5;
    margin-left: 3%;
}

@keyframes logo {
    0% {
        opacity: 0%; right: 100%;
    }
    50%{
        right: 0%;
    }
    100% {
        opacity: 100%; 
    }
}


/*filtro*/
.filtro {
    width: 70%;
    margin: 0% 15%
}
.ocultar{
    display: none;
}
.materiales{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}
.material {
    padding: 10%;
}

.informacion {
    text-align: center;
    color: #fff;
    background-color: #3a3a3a;
    padding: 3%;
}


/*footer*/
.footer{
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #3a3a3a;
    height: auto;
    display:flex;
    padding: 1%;
}

.footer i:hover{
    color: rgb(253, 198, 125);
    opacity: 95%;
    cursor: default;
}
/*botones*/
.button{
    position:relative;
    padding:2% 2%;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:0;
    font-size:100%;
    margin:0% 0%
}

.button.type1{
    color:#566473
}
.button.type1.type1::after,.button.type1.type1::before{
    content:"";
    display:block;
    position:absolute;
    width:20%;
    height:20%;
    border:2px solid;
    transition:all .6s ease;
    border-radius:2px
}
.button.type1.type1::after{
    bottom:0;
    right:0;
    border-color:transparent #566473 #566473 transparent
}
.button.type1.type1::before{
    top:0;
    left:0;
    border-color:#566473 transparent transparent #566473
}
.button.type1.type1:hover:after,.button.type1.type1:hover:before{
    width:100%;
    height:100%
}
.button.type2{
    color:#99c9bf
}
.button.type2.type2:after,.button.type2.type2:before{
    content:"";
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:2px;
    background-color:#16a085;
    transition:all .3s ease;
    transform:scale(0.85)
}
.button.type2.type2:hover:before{
    top:0;
    transform:scale(1)
}
.button.type2.type2:hover:after{
    transform:scale(1)
}

.button.type3.type3::after,.button.type3.type3::before{
    content:"";
    display:block;
    position:absolute;
    width:10%;
    height:10%;
    border:1px solid;
    transition:all .3s ease;
    border-radius:2%
}
.button.type3{
    color:#ffe7df;
}
.button.type3.type3::after{
    bottom:0;
    right:0;
    opacity: 10%;
    border-color:transparent #fff4f0 #fff4f0 transparent
}
.button.type3.type3::before{
    top:0;
    left:0;
    opacity: 10%;
    border-color: #fff4f0 transparent transparent #fff4f0
}
.button.type3.type3:hover:after,.button.type3.type3:hover:before{
    border-color:#ffffff;
    opacity: 100%;
    width:100%;
    height:100%
}